

.activeLink {
    border-radius: 5px;
    text-decoration: none;
    color: whitesmoke;
}

.me-auto{
    text-decoration: none;
    color: whitesmoke;
}

a {
    color: white !important;
    text-decoration: none !important;
}

.cartWidget{
    text-decoration: none;
    color: white !important;
}

.dropdown-menu {
    background-color: #212529 !important;
}