

.activeLink {
    border-radius: 5px;
    text-decoration: none;
    color: whitesmoke;
}

.me-auto{
    text-decoration: none;
    color: whitesmoke;
}

a {
    color: white;
    text-decoration: none;
}